nav a:hover{
    background-color: rgb(62, 170, 208);
    transition: 1.1s;
    border-radius: 8px;
}

.logonav{
    width: 60px;
    height: 60px;
}


.bannerimg{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("imgs/banner2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.bannerimg p{
    font-size: 2em;
    color: black;
    border-radius: 8px;
    opacity: 0.9;
    padding: 3%;
    font-weight: bold;
}

.galeria img{
    width: 100%;
    height: 100%;
}

form button:hover{
    transition: 1s;
    transform: scale(1.3); 

}

#redes img{
    width: 50px;
    height: 50px;
}

#redes a img:hover{
    transition: 1s;
    transform: scale(1.3); 

}

.bg-personalizado{
    background-color: #333333;
    color: white;
}


@media (max-width: 450px) {

    .bannerimg p{
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .bannerimg{
        background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("imgs/banner2.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    .galeria .row div{
        margin-top: 50px;
    }

    #sobrenosotros{
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .textonextcard{
        margin-top: 50px !important;
        text-align: center;
        font-size: 15px;
    }

    .tex{
        text-align: center;
    }

    #redes img{
        width: 40px;
        height: 40px;
    }
    
    footer{
        font-size: 10px;
    }
    
}
  

@media (max-width: 1050px) {

    .bannerimg p{
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .bannerimg{
        background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("imgs/banner2.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }


    #sobrenosotros{
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .textonextcard{
        margin-top: 50px !important;
        text-align: center;
        font-size: 15px;
    }

    .tex{
        text-align: center;
    }

    #redes img{
        width: 40px;
        height: 40px;
    }
    
    footer{
        font-size: 15px;
    }
    
}

@media (max-width: 992px) {

    .bannerimg p{
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .bannerimg{
        background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("imgs/banner2.jpg");
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    .galeria .row div{
        margin-top: 50px;
    }

    #sobrenosotros{
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .textonextcard{
        margin-top: 50px !important;
        text-align: center;
        font-size: 15px;
        width: 100% !important;
    }

    .tex{
        text-align: center;
    }

    #redes img{
        width: 40px;
        height: 40px;
    }
    
    footer{
        font-size: 15px;
    }
    
    .cardresponsive{
        width: 100% !important;
    }

}

/*
.zona1{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(imgs/banner2.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.inicio{
    margin: 0%;
    padding: 10%;

}

.redes{
    border-radius: 5px;
    background-color: black;
    opacity: 0.9;
    border: 5px;

    padding: 10%;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.redes p{
    font-size: 2em;
    letter-spacing: 2px;
    color: white;
    margin: 0%;
    padding: 2%;
}
*/